body{
    display:flex;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   

}

.calculator{

    height:640px;
    width:390px;
    background-color: black;
    border-radius: 50px;
    display:block;
    justify-content:center;
    box-sizing: border-box;
    border: 10px double white;

}
.calculator__display{
    display: block;
    justify-content: center;
    height: 80px;
    width:290px;
   
    box-sizing: border-box;
    
    margin: 80px auto 20px auto;
    color:white;
    font-size: 60px;
    text-align: right;
    padding-top: 10px;

}

.calculator__keys{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width:310px;
    margin: 30px auto auto auto;
}
.grid-item{
    border: none;
    box-sizing: border-box;
    width:65px;
    height: 65px;
    display:flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 20px;
    border-radius: 100%;
    font-size: 32px;

}
.grid-item-0{
    grid-column-start: 1;
    grid-column-end: 3;
    width:150px;
    height: 60px;
    border-radius: 40px;
}

.lightgray{
    background-color: hsl(0, 0%, 65%);
    color:black;
}
.lightgray:active{
    background-color: white;
    color:black;
}
.gray{
    background-color: hsl(0, 0%, 15%);
    color:white;
}

.gray:active{
    background-color: hsl(0, 0%, 50%);
    color:white;
}

.orange{
    background-color: hsl(32, 100%, 50%);
    color: white;
}
.orange:active{
    background-color: white;
    color: hsl(32, 100%, 50%);

}
